
body{
    
}
div {
    background-size: cover;
    width:  calc(33.333% - 20px);
    height: 300px;
    float: left;
    margin: 10px;
    
}

@media (min-width:481px) and (max-width:786px){
    div {
        background-size: cover;
        width:  calc(50% - 20px);
        height: 300px;
        float: left;
        margin: 10px;
        
    }
}

@media (max-width:480px){
    div {
        background-size: cover;
        width:  calc(100% - 20px);
        height: 300px;
        float: left;
        margin: 10px;
        
    }
}