
body{
    width: 100%;
}
div {
    background-size: cover;
    width: 473px;
    height: 300px;
    display: inline-block;
    margin: 5px;
}

@media (min-width:481px) and (max-width:786px){
    div {
        background-size: cover;
        width: 46%;
        margin: 5px;
        height: 300px;
        display: inline-block;
    }
}

@media (max-width:480px){
    div {
        width: 94%;
        background-size: cover;
        margin: 10px;
        height: 300px;
        display: block;
    }
}